@use "Styles/vars";
@use "Styles/funcs";

.accordionContainer {
  @include funcs.flexCenter();
  padding-top: 20px;
}

.accordion {
  width: 100%;
  max-width: 750px;
  border-radius: vars.$roundCorners;
  padding: 0 30px;
}

/* -------------
  media queries
----------------- */

@media screen and (max-width: vars.$phoneBreakpoint) {
  .accordion {
      width: 92%;
  }
}
