@use "Styles/funcs";
@use "Styles/vars";

$height: 50px;

.accordionHeader {
  @include funcs.flexCenter();
  height: $height;

  .accordionHeaderSection {
    
    &.left, &.right, &.center {
      height: $height;
      @include funcs.flexCenter();
      width: 40px;
      font-size: 1.0rem;
    }

    &.left {
      color: vars.$gray-light;
    }

    &.center {
      width: 100%;
      color: vars.$white;

      button {
        @include funcs.flexCenter();
        justify-content: flex-start;
        height: $height;
        padding: 0px 20px;
        cursor: pointer;
        background: transparent;
        border: none;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: vars.$white;
        font-size: 1.8rem;
        font-weight: 400;
      }

      input {
        background: transparent;
        color: vars.$white;
        text-align: center;
        font-size: 1.5rem;
        border: none;
        min-width: 0;
      }
    }
  }
}