@use "Styles/funcs";
@use "Styles/vars";

$height: 40px;

.accordionHeader {
  @include funcs.flexCenter();
  height: $height;

  .accordionHeaderSection {
    
    &.left, &.right {
      height: $height;
    }

    &.left {
      @include funcs.flexCenter();
      justify-content: flex-start;
      width: 15px;
      text-align: center;
    }
    &.center {
      width: 80%;
      text-align: center;

      .accordionButton {
        @include funcs.flexCenter();
        justify-content: flex-start;
        height: $height;
        padding: 0px 20px;
        cursor: pointer;
        background: transparent;
        border: none;

        span {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        span, input {
          background: transparent;
          color: vars.$tertiaryColor;
          text-align: center;
          font-size: 1.3rem;
          border: none;
          min-width: 0;
        };
      }
    }
  }
}