@use "Styles/funcs";
@use "Styles/vars";

$height: 50px;

.item-header {
  @include funcs.flexCenter();
  height: $height;

    
    .left, .right, .center {
      height: $height;
      @include funcs.flexCenter();
      width: 40px;
      font-size: 1.0rem;
    }

    .left {
      color: vars.$gray-light;
    }

    $font-size: 1.5rem;
    .center {
      width: 100%;
      color: vars.$white;
      justify-content: flex-start;

      button, input {
        @include funcs.flexCenter();
        justify-content: flex-start;
        height: $height;
        padding: 0px 20px 7px 20px;
        cursor: pointer;
        border: none;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: vars.$white;
        font-size: $font-size;
        font-weight: 400;
        background: none;
      }
    }
}