@use 'Styles/vars';

.info-card {
  $width: 90px;
  width: $width;
  //background-color: vars.$gray-dark;
  border-radius: 5px;
  margin-right: 20px;
  padding: 0px 5px;

  h1 {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0px;
    color: vars.$gray-light;
    padding-bottom: 5px;
  }
  
  p, input {
    font-size: 3rem;
    border: none;
    background: none;
    color: vars.$white;
    width: $width;
    margin: 0px;
  }

  &.large {
    $width: 100%;
    width: $width;
    
    p, input {
      width: $width;
      font-size: 1rem;
      font-weight: 400;
    }
  }

}
