@use 'Styles/vars';
@use 'Styles/funcs';

.download-options {
  list-style-type: none;
  @include funcs.flexCenter();
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0px 0px;

  li {
    @include funcs.flexCenter();
    flex-direction: column;
    height: 80px;
    width: 95px;
    margin: 10px 5px;
    cursor: pointer;

    p {
      margin: 0px;
      font-size: 0.9rem;
    }
  }
}