@use "Styles/funcs";
@use "Styles/vars";

$height: 60px;

.item-body {
  display: flex;
  justify-content: left;
  flex-direction: column;
  color: vars.$tertiaryColor;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s ease;

  // TODO: Remove
  hr {
    width: 95%;
    border: 1px solid vars.$gray;
    padding: 0px;
    margin: auto;
  }

  section {
    @include funcs.flexCenter();
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 15px;

    #file-section-header {
      @include funcs.flexCenter();
      flex-direction: row;
      justify-content: space-between;
    }

    h1 {
      @include funcs.small-header();
      margin-right: auto;
    }

    &.files {
      flex-direction: column;
    }
  }

  &.info {
    cursor: pointer;
  }

  &.open {
    max-height: 1000px;
    transition: max-height 0.5s ease-in;
  }
}

