@use "Styles/funcs";
@use "Styles/vars";

$height: 60px;

.item-body {
  display: none;
  color: vars.$tertiaryColor;

  // TODO: Remove
  hr {
    width: 95%;
    border: 1px solid vars.$gray;
    padding: 0px;
    margin: auto;
  }

  section {
    @include funcs.flexCenter();
    flex-direction: row;
    justify-content: flex-start;

    #file-section-header {
      @include funcs.flexCenter();
      flex-direction: row;
      justify-content: space-between;
    }

    h1 {
      @include funcs.small-header();
    }

    &.files {
      flex-direction: column;
    }
  }

  

  &.info {
    cursor: pointer;
  }

  &.open {
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 5px 10px 30px 10px;
  }
}

