@use "Styles/funcs";
@use "Styles/vars";

$height: 60px;

.accordionBody {
  display: none;
  color: vars.$tertiaryColor;
  font-size: 2.2rem;

  // TODO: Remove
  hr {
    width: 95%;
    border: 1px solid vars.$gray;
    padding: 0px;
    margin: auto;
  }

  &.info {
    cursor: pointer;
  }

  &.open {
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 5px 10px 30px 10px;

    p {
      textarea {
        border: none;
        background: none;
        color: whitesmoke;
        font-size: inherit;
        width: 340px;
        height: 100px;
        resize: none;
      }
    }
  }
}

