@use "Styles/vars";
@use "Styles/funcs";
@use "Styles/doc";
@use "Styles/lists.module.scss";

.playlists {
  @include funcs.flexCenter();
  padding: 10px 0;

  li {
    height: 80px;
    border-radius: vars.$roundCorners;

    &.searchItem {
      @include funcs.flexCenter();
    }

    .bar {
      width: 500px;
      max-width: 90%;
    }
  }
}
