@use 'Styles/vars';
@use 'Styles/funcs';

.songVersionsList {
    @include funcs.flexCenter();
    flex-direction: column;

    button {
        color: vars.$tertiaryColor;
        text-decoration: underline;
        cursor: pointer;
    }
}